<<<<<<< HEAD
.notifications {
  width: 100%;
  position: absolute;
  bottom: 3rem;
}
||||||| constructed merge base
=======
.notifications {
  width: 100%;
  position: absolute;
  top: 10%;
}
>>>>>>> zsebtanar-proto-356 Visszajelzés belépési kísérlet után
